@import url(http://fonts.googleapis.com/css?family=Arapey:400italic,400);

$accent: #d03416;

body {
  font-family: 'Arapey', serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: $accent;
  color: lighten($accent, 45%);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6,p,ul,li {margin: 0; padding: 0;}

h1 {
  font-size: 140px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
}

a {
  color: lighten($accent, 45%);
  text-decoration: none;
  transition: 0.15s color linear;

  &:hover {
    color: #ccc;
  }
}

.tout {
  margin-bottom: 40px;
}

.flash {
  font-size: 12px;
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.button {
  background: transparent;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  transition: 0.15s all linear;
  border-bottom: 1px solid white;
  padding-bottom: 5px;

  &:hover {
    color: lighten($accent, 25%);
    border-color: lighten($accent, 25%);
  }
}

.home {
  z-index: 1;
  position: absolute;
  max-width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background-image: url(http://41.media.tumblr.com/c57e1454a4d11eb7764daf193235d83c/tumblr_nbyatco92Y1sfie3io1_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}